// Secondary Header font
@font-face {
  font-family: 'butler_light';
  src: url('../fonts/butler_light-webfont.woff');
  src: url('../fonts/butler_light-webfont.woff2');
}
@font-face {
  font-family: 'butler_regular';
  src: url('../fonts/butler_regular-webfont.woff');
  src: url('../fonts/butler_regular-webfont.woff2');
}
@font-face {
  font-family: 'butler_medium';
  src: url('../fonts/butler_medium-webfont.woff');
  src: url('../fonts/butler_medium-webfont.woff2');
}

// Main header script
@font-face {
  font-family: 'foxtrail';
  src: url('../fonts/Foxtrail-Script.woff');
}
@font-face {
  font-family: 'foxtrail_swashes';
  src: url('../fonts/Foxtrail-Swashes.woff');
}

// Paragragh
@font-face {
  font-family: 'tw_cen';
  src: url('../fonts/tw_cen.ttf');
  src: url('../fonts/tw_cen.woff');
  src: url('../fonts/tw_cen.woff2');
}
@font-face {
  font-family: 'tw_cen';
  src: url('tw_cen.eot');
}
