// colors

$color-1: #1C1C1C; // Soft Black
$color-2: #FFFFFF; // White
$color-3: #A0D9DA; // Blue - highlight 1
$color-4: #FF4F45; // Red - highlight 2
$color-5: #F2F2F2; // Light Grey

// fonts

$script-font: 'foxtrail', sans-serif;
$swash: 'foxtrail_swashes', sans-serif;
$primary-font: 'butler_regular', sans-serif;
$primary-font-light: 'butler_light', sans-serif;
$primary-font-bold: 'butler_medium', sans-serif;
$secondary-font: 'tw_cen', serif;

// animation

$animation-duration: 0.7s;
$animation-duration-light: 0.3s;
