
/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

*:focus {
	outline: none;
}
::selection {
    color: $color-2;
		background: $color-4;
}
::-moz-selection { /* Code for Firefox */
	color: $color-2;
	background: $color-4;
}

html {
	font-size: 62.5%;

	* {
		@include font-smoothing;
	}
}

body {
	font: {
		size: 18px;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-2;
}

body, html {
	/* prevent horizontal scrolling */
	overflow-x: hidden;
}

a {
	color: $color-1;
	text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */
.hidden {
	display: none;
}

main {
	h1, p {
		text-align: center;
	}

	h1 {
		font-size: 2.6rem;
		margin-bottom: 1em;
		font-family: $script-font;
		color: $color-3;
	}
	h2 {
		font-size: 32px;
		margin-bottom: 1em;
		line-height: 1.3;
		font-family: $primary-font;
		color: $color-1;
		span {
			color: $color-4;
		}
	}
	h5 {
		color: $color-2;
		font-family: $secondary-font;
		text-transform: uppercase;
		letter-spacing: 2px;
		&:after {
			position: absolute;
			content: '';
			width: 45px;
			height: 1px;
			margin-top: 25px;
			margin-left: -45px;
			background: $color-4;
		}
	}

	p {
		font-family: $secondary-font;
		color: darken($color-2, 25%);
		max-width: 450px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 1.4;
	}
}

.footer {
	display: block;
	background: $color-2;
	width: 90%;
	margin: 55px auto 45px auto;
	border-top: 1px solid $color-1;
	padding: 25px 5px 0 5px;
	max-width: 1100px;
	a {
		transition: opacity .2s ease-out;
		&:hover {
			opacity: .6;
		}
	}
	@include MQ(M) {
		margin-top: 85px;
	}
	@include MQ(LS) {
		margin-top: 125px;
	}
	span {
		color: $color-2;
		font-family: $secondary-font;
	}
	.footer-left {
		float: left;
	}
	.footer-right {
		float: right;
	}
	.footer-desktop  {
		display: none;
	}
	@include MQ(LS) {
		.footer-desktop  {
			display: block;
		}
		.footer-mobile {
			display: none;
		}
	}
}

.page-top-text {
	position: absolute;
	top: 10px;
	left: 10%;
	z-index: 3;
	@include MQ(M) {
		left: 7%;
		top: 35px;
	}
	p {
		color: $color-2;
		font-size: 45px;
		font-family: $script-font;
		text-transform: capitalize;
	}
}
.page-top-text-right {
	position: fixed;
	top: 35px;
	right: 10%;
	z-index: 3;
	@include MQ(M) {
		left: 7%;
	}
	p {
		color: $color-2;
		font-size: 22px;
		font-family: $secondary-font;
	}
}

.outer-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
	&.grey {
		background: $color-5;
	}
  @include MQ(M) {
    padding: 0 40px;
  }
	.inner-container {
	  width: 100%;
	  margin: 0 auto;
	  padding: 0;
	  @include MQ(M) {
	  }
	  @include MQ(L) {
	    max-width: 1170px;
	  }
	  h1 {
	    font-size: 120px;
	    line-height: 80px;
	    margin: 25px 0 55px 0;
	    text-align: left;
	    @include MQ(M) {
	      text-align: left;
	    }
	    @include MQ(L) {
	      font-size: 150px;
	    }
	  }
		h2 {
			color: $color-1;
			font-family: $primary-font-bold;
			font-size: 35px;
			line-height: 1.2;
			max-width: 250px;
			margin-top: 15px;
			margin-bottom: 10px;
			span {
				color: $color-4;
			}
			@include MQ(M) {
				max-width: 500px;
				margin: 15px auto 10px auto;
			}
		}
		p {
	    font-size: 20px;
	    text-align: left;
	    line-height: 1.3;
	    margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 30px;
			}
	    @include MQ(M) {
	      max-width: 500px;
	      margin: 0;
	      margin-bottom: 45px;
	    }
	    @include MQ(L) {
	      max-width: 650px;
	      font-size: 22px;
				margin-top: 15px;
	    }
	  }
		.title-box {
		// script titles
		margin-bottom: 45px;
			h3 {
				font-family: $primary-font;
				color: lighten($color-1, 30%);
				font-size: 35px;
				margin-bottom: -45px;
				text-align: center;
				margin-left: -145px;
				@include MQ(M) {
					font-size: 45px;
					margin-left: -195px;
				}
			}
			.script {
				font-family: $script-font;
				color: $color-1;
				font-size: 95px;
				margin-top: 0;
				margin-bottom: 0;
				position: relative;
				text-align: center;
				z-index: 2;
				@include MQ(M) {
					font-size: 125px;
				}
			}
			.swash {
				font-family: $swash;
				color: $color-3;
				font-size: 325px;
				margin-top: -10px;
				position: relative;
				text-align: center;
				line-height: 0;
				z-index: 0;
				@include MQ(M) {
					font-size: 400px;
					margin-top: 0;
					margin-left: -30px;
				}
			}
		} // end title box
	} // end innner-container
} // end outer-container

.seperator {
	display: block;
	height: 1px;
	width: 40px;
	margin: 10px 0;
	background: $color-4;
}

// Fix to make zoom possible
.swiper-wrapper {
	@include MQ(M) {
		position: relative;
		z-index: 500;
	}
}
