
/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

*:focus {
	outline: none;
}
::selection {
    color: $color-2;
		background: lighten($color-3, 10%);
}
::-moz-selection { /* Code for Firefox */
	color: $color-2;
	background: lighten($color-3, 10%);
}

html {
	font-size: 62.5%;

	* {
		@include font-smoothing;
	}
}

body {
	font: {
		size: 18px;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-2;
	background-color: $color-1;
}

body, html {
	/* prevent horizontal scrolling */
	overflow-x: hidden;
}

a {
	color: $color-2;
	text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */

main {
	position: relative;
	z-index: 2;

	/* fix bug on iOS */
	height: 100vh;
	overflow-y: auto;

	-webkit-overflow-scrolling: touch;
	padding: 200px 5%;
	background-color: $color-1;

	/* Force Hardware Acceleration in WebKit */
	@include transform(translateZ(0));
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	@include transition(transform $animation-duration);
	@include transition-timing-function(cubic-bezier(.91,.01,.6,.99));

	h1, p {
		text-align: center;
	}

	h1 {
		font-size: 2.6rem;
		margin-bottom: 1em;
		font-family: $script-font;
		color: $color-3;
	}
	h2 {
		font-size: 32px;
		margin-bottom: 1em;
		line-height: 1.3;
		font-family: $primary-font;
		color: $color-1;
		span {
			color: $color-4;
		}
	}

	p {
		font-family: $secondary-font;
		color: darken($color-2, 20%);
		max-width: 450px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 1.4;
	}

	@include MQ(M) {
		padding: 250px 10%;

		h1 {
			font-size: 5.6rem;
		}

		p {
			font-size: 18px;
		}
	}
}

.btn-texture {
	background: $color-1;
	margin-top: 15px;
	margin-bottom: 5px;
	display: inline-block;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.12), 0 7px 7px 0 rgba(0,0,0,0.24);
	border-radius: 1.8px;
	font-family: $secondary-font;
	font-size: 16.2px;
	padding: 5px 25px 10px 25px;
	color: #F2F2F2;
	border: 0 solid #F2F2F2;
	transition: opacity $animation-duration-light ease-out;
	.no-touch &:hover {
		opacity: .8;
	}
	svg {
		max-height: 20px;
		position: relative;
		top: 5px;
		left: 5px;
		}
} // btn texture

.footer {
	display: block;
	background: $color-1;
	width: 90%;
	margin: 55px auto 45px auto;
	border-top: 1px solid $color-2;
	padding: 25px 5px 0 5px;
	max-width: 1100px;
	@include MQ(M) {
		margin-top: 85px;
	}
	@include MQ(LS) {
		margin-top: 125px;
	}
	span {
		color: $color-2;
		font-family: $secondary-font;
	}
	.footer-left {
		float: left;
	}
	.footer-right {
		float: right;
	}
	.footer-desktop  {
		display: none;
	}
	@include MQ(LS) {
		.footer-desktop  {
			display: block;
		}
		.footer-mobile {
			display: none;
		}
	}
}

.page-top-text {
	position: fixed;
	top: 35px;
	left: 10%;
	z-index: 3;
	@include MQ(M) {
		left: 7%;
	}
	p {
		color: $color-2;
		font-size: 45px;
		font-family: $script-font;
		text-transform: capitalize;
	}
}
.page-top-text-right {
	position: fixed;
	top: 35px;
	right: 10%;
	z-index: 3;
	@include MQ(M) {
		left: 7%;
	}
	@include MQ(L) {
		display: none;
	}
	p {
		color: $color-2;
		font-size: 22px;
		font-family: $secondary-font;
	}
}

.big-seperator {
	h1 {
		font-family: $swatch;
		font-size: 500px;
		line-height: 100px;
		text-align: left;
		color: $color-4;
		@include MQ(LS){
			font-size: 625px;
		}
	}
}

.outer-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  @include MQ(M) {
    padding: 0 40px;
  }
  @include MQ(L) {
    max-width: 1170px;
  }
	.inner-container {
	  width: 100%;
	  margin: 0 auto;
	  padding: 0;
	  @include MQ(M) {
	  }
	  @include MQ(L) {
	    max-width: 1170px;

	  }
	  h1 {
	    font-size: 120px;
	    line-height: 80px;
	    margin: 25px 0 55px 0;
	    text-align: left;
	    @include MQ(M) {
	      text-align: left;
	    }
	    @include MQ(L) {
	      font-size: 150px;
	    }
	  }
	  p {
	    font-size: 20px;
	    text-align: left;
	    line-height: 1.3;
	    margin-bottom: 30px;
	    @include MQ(M) {
	      max-width: 500px;
	      margin: 0;
	      margin-bottom: 45px;
	    }
	    @include MQ(L) {
	      max-width: 650px;
	      font-size: 22px;
	      margin-top: 65px;
	    }
	  }
	} // end innner-container
} // end outer-container

.seperator {
	display: block;
	height: 1px;
	width: 40px;
	margin: 10px 0;
	background: $color-4;
}

.books {
	.book-box {
		@include MQ(M) {
			display: flex;
			a:first-of-type {
				margin-right: 45px;
			}
		}
	}
	.sub-title {
		font-family: $secondary-font;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 2px;
		@include MQ(L) {
			font-size: 18px;
		}
		& .seperator {
			display: block;
			height: 1px;
			width: 40px;
			margin: 10px 0;
			background: $color-4;
		}
	}
	h4 {
		font-size: 25px;
		color: lighten($color-1, 60%);
		margin: 15px 0;
		line-height: 1.3;
		transition: color $animation-duration-light ease-in-out;
		&:hover {
			color: $color-2;
		}
		@include MQ(L) {
			font-size: 35px;
		}
	}
	.by-tag {
		font-size: 16px;
		color: $color-3;
		font-family: $secondary-font;
		position: relative;
		top: -10px;
	}
	.books-box {
		@include MQ(M) {
			display: flex;
		}
		.col-1 {
			@include MQ(M) {
				margin-right: 35px;
			}
			@include MQ(L) {
				margin-right: 65px;
			}
		}
	} // end books-box
} // end books


.preston {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: $color-2;
	img {
		min-height: 100vh;
		min-width: 100%;
		overflow: hidden;
	}
	p {
		position: fixed;
		z-index: 105;
		top: 35px;
		right: 5%;
		font-family: $secondary-font;
		font-size: 25px;
		cursor: default;
	}
}

.hidden {
	display: none;
}
